*.class
*.jar
*.swp
target
classes
*.txt
*.html
*.html.xml
src/main/clojure/waimea
src/main/java/taharoa/models/impl/MybatisModel2.java
src/main/java/taharoa/viewmodels/impl/MainFrameViewModelImpl2.java
*.*~
.idea
*.iml
xml
src/main/clojure/taharoa.xml
src/test/clojure/taharoa.xml
src/test/clojure/taharoa/models
src/test/clojure/waimea
.gradle
build
